@page 
@model WebApplication1.Pages.Checkout.ThanksPageModel
@{
}
<div class="col-4 mx-auto mt-5 text-center">

    
    
    
    <h2>Grac!!! you won free pizza!!!</h2>

    <a class="btn btn-primary" asp-area="" asp-page="/Pizza">Order another</a>
</div>