@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center text-capitalize">
    <h1 class="display-4">Pizza store</h1>
    <img src="~/images/pizza.png" />
    <br />
    
    <a class="btn btn-primary mt-3" asp-area="" asp-page="/Pizza">Order pizza</a>

</div>
